.coins-table {
    padding: 0 15rem 15rem 15rem;
}
.coins-table:hover{
    cursor: pointer;
}

.fade-in p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    font-size: 3rem;
    text-decoration: #11ec11;
    line-height: 5rem;
    letter-spacing: 0.2rem;
}

.fade-in {
    opacity: 1;
    transition: opacity 3s ease; /* Adjust duration as needed */
  }
.fade-in.active {
    opacity: 0;
}
.image-container img {
    height: 100px;
    width: 100px;
}