.coins-container {
    padding: 0  15rem 15rem 15rem;
}
.coins-table:hover{
    cursor: pointer;
}
.coins-title {
    background-image: url("../images/Matrix.jpg");
    background-size: cover;
    background-clip: text;
    color: transparent; /* Hide the actual text color */
    font-size: 3rem;
}
.coins-table .table-info {
    font-size: 2rem;
}
.image-container img {
    height: 100px;
    width: 100px;
}
@media screen and (max-width: 1440px) {
  .coins-container {
    padding: 2rem;
    height: 100%;
    width: 90%;
  }
  .coins-title{
    font-size: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .coins-container {
    padding: 2rem;
    height: 100%;
    width: 90%;
  }
  .coins-title{
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .coins-container {
    padding: 1rem;
    height: 100%;
    width: 90%;
  }
  .coins-title{
    font-size: 1rem;
  }
  .image-container img {
    height: 50px;
    width: 50px;
  }
  .coins-table .table-info {
    font-size: 1rem;
  }
} 