/*Css for the trending coins in list */
.context-grid {
    margin-top: 100px;
    width: auto;
    height: 100%;
}
.sub-title {
    font-weight: 800;
    font-size: 3rem;
    line-height: 5rem;
}
.tred-info li {
	width: 100%;
	height: 250px;
	overflow: hidden;
	display: block;
	background: #fff;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	margin-bottom: 4px;
	border-left: 10px solid #000;
	transition: all 300ms ease-in-out;
}

.tred-info li:last-child {
    margin-bottom: 0px;
}
.tred-info li div{
    text-align: left;
    display: block;
    color: #333;
    position:relative;
}
.tred-icon{
    font-size: 20px;
    text-shadow: 0px 0px 1px #333;
    line-height: 50px;
    position: absolute;
    left: 20px;
    text-align: center;
    transition: all 300ms linear;
}
.tred-content{
    position: absolute;
    left: 120px;
    width: 370px;
    height: 60px;
    top: 20px;
}
.tred-main{
    font-size: 30px;
    transition: all 300ms linear;
    letter-spacing: 3px;
}

.tred-sub{
    font-size: 14px;
    color: #666;
    transition: all 300ms linear;
    letter-spacing: 2px; 
}
.tred-market {
    position: absolute;
    margin-left: 100px;
}
.tred-market img {
   height: 5rem;
}

.tred-info li:hover{
    border-color: #fff004;
    background: #403f3f;
}
.tred-info li:hover .tred-icon{
    color: #fff004;
    text-shadow: 0px 0px 1px #fff004;
    font-size: 70px;
}
.tred-info li:hover .tred-main{
    color: #fff004;
    font-size: 14px;
}
.tred-info li:hover .tred-sub{
    color: #fff;
    font-size: 30px;
}
.tred-info li:hover .tred-content h3{
    color: #fff004;
    font-size: 30px;
}

.green {
    color: #11ec11
}
.red {
    color: #ff0000;
}

@media screen and (max-width: 1440px) {
   .tred-info li {
    width: auto;
    height: 300px;
   }
}


@media screen and (max-width: 760px) {
    .sub-title {
        font-weight: 800;
        font-size: 2rem;
        line-height: 3rem;
    }
    .tred-main{
        font-size: 20px;
        letter-spacing: 1px;
    }
    .tred-market {
        margin-bottom: 10px;
        margin-left: 20px;
    }
}
@media screen and (max-width: 425px) {
    .sub-title {
        font-weight: 800;
        font-size: 2rem;
        line-height: 3rem;
    }
    .tred-main{
        font-size: 20px;
        letter-spacing: 1px;
    }
    .tred-info li {
        width: auto;
        height: auto;
    }
   
}
 